<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <h1 class="text-center" style="color: pink;">Modificar Frutas o Jugos</h1>

            {{#each dato}}

        <form class="text-center pb-3" action="/frutasYjugos/modificar/{{id}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="formGroupExampleInput">Nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el nombre" name="nombre" value="{{nombre}}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Descripcion</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Descripcion de la fruta o jugo" name="descripcion" value="{{descripcion}}">
        </div>

        <div class="form-group">
    <label for="exampleFormControlFile1">Imagen</label>
    <input type="file" class="form-control" id="exampleFormControlFile1" name="imagen">
    <label for="">{{imagen}}</label>

      <img src="{{imagen}}" alt="" class="pt-3" style="max-width: 200px;" id="imagenModificada">

  </div>

        <div class="container pt-3">
            <button type="submit" class="btn btn-dark">modificar</button>
            <a href="/frutasYjugos/1_administrador/" class="btn btn-dark">retornar</a>
        </div>
        </form>

    {{/each}}

        </div>
    </div>
</div>


<script>

let archivo = document.getElementById("exampleFormControlFile1");

let imagen = document.getElementById("imagenModificada");


let file;

archivo.addEventListener("change", function(){

        file = archivo.files[0];

        if(file){

            const fileReader = new FileReader();

            fileReader.addEventListener("load",function(){
                imagen.setAttribute("src",fileReader.result);   
            })

            fileReader.readAsDataURL(file);
        }

})


</script>